.App {
  
 text-align: center;
  
}


nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 15vh;
  background-color: rgb(110, 46, 116);
  color: rgb(226, 209, 59);

}
nav h3{
 
 font-size: 30px;
}

.nav-links {
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  font-size: 18px;

}
.nav-links a{
  background-color: rgb(7, 49, 63);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 2px 5px 10px 2px rgba(20, 19, 70, 0.527);
}

.aboutInfo{
line-height: 40px;
background: rgb(226, 164, 83);
margin: auto;
padding-bottom: 10px;
}


.aboutInfo h3{
  background-color: rgb(122, 66, 128);
  margin: auto;
  width: 600px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: whitesmoke;
}


.homeInfo{
line-height: 40px;
height: 700px;
background: rgb(226, 164, 83);
margin: auto;
}



.homeInfo img{
  width: 600px;

}


.homeInfo h4{
  width: 600px;
  margin: auto;

}



.shopInfo{
  line-height: 30px;
  padding-bottom: 30px;
  padding-top: 10px;
  background: rgb(226, 164, 83);
 
}

.footerInfo{
  background-color: rgb(110, 46, 116);
  position: relative;
  color: rgb(226, 209, 59);
  padding: 50px;

 

}

.infoPage{
  margin: auto;
  width: 600px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: whitesmoke;
  background-color: rgb(122, 66, 128);

}